
<div id="country_data">
    <div class="row">
        <div class="col-3 form-group">
            <input type="text" name="crncy" value="{{country_data.currency_code}}" class="form-control-sm textinput textInput form-control" placeholder="Currency" maxlength="200" id="id_crncy" readonly>
        </div>

        <div class="col-3">
            <input type="text" name="prsdnt_name" value="{{country_data.prsdnt_name}}" class="form-control-sm textinput textInput form-control" placeholder="President Name" maxlength="200" id="id_prsdnt_name">
        </div>

        <div class="col-3">
            <input type="text" name="area" value="{{country_data.area}}" class="form-control-sm textinput textInput form-control" placeholder="Area" maxlength="200" id="id_area" readonly>
        </div>
        <div class="col-3">
            <input type="text" name="ofcl_lang" value="{{country_data.primary_language}}" class="form-control-sm textinput textInput form-control" placeholder="Language" maxlength="200" id="id_ofcl_lang" readonly>
        </div>
    </div>

    <div class="row">
        <div class="col-3 form-group">
            <input type="text" name="continent" value="{{country_data.continent}}" class="form-control-sm textinput textInput form-control" placeholder="Continent" maxlength="200" id="id_continent" readonly>
        </div>

        <div class="col-3">
            <input type="text" name="capl_city" value="{{country_data.capital}}" class="form-control-sm textinput textInput form-control" placeholder="Capital" maxlength="200" id="id_capl_city" readonly>
        </div>

        <div class="col-3">
            <input type="text" name="ph_code" value="{{country_data.phone}}" class="form-control-sm textinput textInput form-control" placeholder="Country Code" maxlength="200" id="id_ph_code" readonly>
        </div>
        <!--div class="col-3">
            <input type="text" name="ph_code" value="{{country_data.primary_language}}" class="form-control-sm textinput textInput form-control" placeholder="Language" maxlength="200" id="Xid_ofcl_lang" readonly>
        </div-->
    </div>
</div>

