<!-- Gold Access -->
<div class="col-md-4 mb-4" id="inst_gold_period">
    <div class="card shadow-sm h-100">
        <div class="card-body">

            <h5 class="card-title font-weight-bold">Gold Access IGQ</h5>
            <p class="text-muted">Complete institutional package</p>

            <div class="btn-group mb-3">
                <button class="btn btn-outline-secondary btn-sm" hx-get="{% url 'subscription_type_toggle' %}" hx-trigger="click" hx-vals='{"subscription_type": "inst_gold_monthly"}' hx-target="#inst_gold_period" hx-swap="outerHTML">Monthly</button>
                <button class="btn btn-info btn-sm" hx-get="{% url 'subscription_type_toggle' %}" hx-trigger="click" hx-vals='{"subscription_type": "inst_gold_quarterly"}' hx-target="#inst_gold_period" hx-swap="outerHTML">Quaterly</button>
                <button class="btn btn-outline-secondary btn-sm" hx-get="{% url 'subscription_type_toggle' %}" hx-trigger="click" hx-vals='{"subscription_type": "inst_gold_yearly"}' hx-target="#inst_gold_period" hx-swap="outerHTML">Yearly</button>
            </div>

            <h4 class="font-weight-bold" id="inst_gold_plan_period">1.300.000 FCFA HT<span class="small">/month</span></h4>

            <ul class="list-unstyled mt-3 mb-4">
                <li>✔ Newsletters</li>
                <li>✔ Research Notes</li>
                <li>✔ IPO Review</li>
                <li>✔ Economic Notes</li>
                <li>✔ Top 10 Sell</li>
                <li>✔ Quarterly Results Commentary</li>
                <li>✔ Semi-annual Results Commentary</li>
                <li>✔ Annual Results Commentary</li>
                <li>✔ General Meetings Commentary</li>
                <li>✔ Analyst Access</li>
                <li>✔ Corporate Access</li>
            </ul>

            <a href="{% url 'register' %}?plan=akwabaplus" class="btn btn-outline-info btn-block">
                Select Plan
            </a>
        </div>
    </div>
</div>