{% extends 'base.html' %}

{% block title %}My Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Upload Successful</h1>
        <p>Your Excel file has been successfully uploaded.</p>
    </div>
</div>
{% endblock %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Success</title>
</head>
<body>
<h1>Upload Successful</h1>
<p>Your Excel file has been successfully uploaded.</p>
</body>
</html>