{% extends 'jdadev/reloads/jdadev_portfolio_management_home_overall_portfolio.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block assets %}

<div class="card shadow-sm p-2 mb-3 bg-white rounded">
    <div class="card-header">
        <div class="header">
            <div class="title">
                <h6 class="text-muted"><i class="fa fa-briefcase my_info_txt" aria-hidden="true"></i> {% trans 'Sell Recommendation' %}</h6>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <!-- form or static transactionfees placeholder-->
                {% include 'jdadev/partials/jdadev_transaction_fees_placeholder.html'%}
            </div>
        </div>
    </div>
    <!--div class="card-footer text-muted">
        <div class="btn btn-info btn-sm" id="actionButton">Recommendation</div>
        <small id="bank_waiter">As of {% now "Y-m-d" %}</small>
    </div-->
</div>
<script type="text/javascript">
function get_country_sgi() {
    const tps = parseFloat(document.getElementById("id_tps").value) || 0;
    const comm_sgi = parseFloat(document.getElementById("id_commission_sgi").value) || 0;

    // Calculate country_sgi
    const country_sgi = (1+tps)*comm_sgi;
    const country_sgiElement = document.getElementById("id_country_sgi");

    // Update displayed value
    country_sgiElement.value = country_sgi;

    // Update color based on value
    //if (sum < 100) {
    //    portfolioElement.style.color = '#BABC29';  // Yellow
    //} else if (sum === 100) {
    //    portfolioElement.style.color = '#558F24';  // Green
    //} else {
    //    portfolioElement.style.color = '#CF244E';  // Red
    //}
}
</script>

<script type="text/javascript">
function get_total_commussion() {
    // Get current values from all inputs each time

    const coun_sgi = parseFloat(document.getElementById("id_country_sgi").value) || 0;
    const comm_brvm = parseFloat(document.getElementById("id_commission_brvm").value) || 0;
    const comm_dc_br = parseFloat(document.getElementById("id_commission_dc_br").value) || 0;
    //alert("tps: "+ tps +" comm_sgi: "+ comm_sgi);


    // Calculate total_commission
    const total_commission = (coun_sgi+comm_brvm+comm_dc_br);

    const total_commissionElement = document.getElementById("id_total_commission");

    // Update displayed value
    total_commissionElement.value = total_commission;
}
</script>

{% endblock %}