{% extends 'jdadev/reloads/jdadev_portfolio_management_home_overall_portfolio.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block assets %}


<div class="row">
  <div class="col-md-12">

      {% include 'jdadev/jdadev_simulation_breadcrumbs.html' %}

    <table id="sale_sim" class="table table-responsive-sm table-striped table-bordered dt-responsive nowrap" style="width:100%">
      <thead>
      <tr>
        <th>Stock</th>
        <th>Avg Weighted Cost</th>
        <th>Market Price</th>
        <th>Gain/Loss</th>
        <th>Target Price</th>
        <th>Potential Gain/Loss</th>
        <th>Selling Price</th>
        <th>Number of Shares</th>
      </tr>
      </thead>
      <tbody>
      {% for i in sim %}
      <tr>
        <td>{{ i.stock }}</td>
        <td>{{ i.avg_weighted_cost }}</td>
        <td>{{ i.mkt_price }}</td>
        <td>{{ i.gain_or_loss }}</td>
        <td>{{ i.target_price }}</td>
        <td>{{ i.potential_gain_or_loss }}</td>
        <td>{{ i.selling_price }}</td>
        <td>{{ i.nbr_of_stocks }}</td>

      </tr>
      {% endfor %}
      <tr>
        <td colspan="8"><a href="{% url 'jdadev_simulation_portfolio_after_sale' %}" class="btn btn-info btn-sm">Portfolio After Sale <i class="fas fa-arrow-right"></i></a></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
{% endblock %}



