{% extends 'jdamainapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

{% include "jdadev/jdadev_breadcrumbs.html" %}

<div class="card text-center mt-5">
    <div class="row">
        <div class="col">
            <h5 class="text-danger font-weight-bold">{{ error_message }}</h5>
            <h5>{{ error_message_2 }}</h5>


            <div class="container mt-4">
                <h5>Upload Successful</h5>
                <div class="mb-3">
                    <p>Your Excel file has been successfully uploaded.</p>
                </div>

            </div>

        </div>
    </div>
</div>

<style>
    .fileinput{
    background-color:#f8f9fa;
    margin-top:5px;
    }

    .fileUpload{
     margin-top:16px;
     padding-left:2px;
     padding-top:3.5px;
    }
</style>



{% endblock %}

