{% extends 'jdamainapp/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

{% include "jdafinancialsapp/jdafinancialsapp_breadcrumbs.html" %}
<div class="card text-center Xmt-3">
    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="card-header">
            <h5 class="text-muted"><i class="fas fa-compass  my_info_txt"></i> {% trans 'Add Company' %}</h5>
        </div>

        <div class="card-body">

            <!-- Raison Social -->
            <div class="row">
                <div class="col-12"><input class="form-control" type="text" placeholder="Raison Sociale" readonly></div>
            </div>
            <div class="row">
                <div class="col-8">{{form.corp_name|as_crispy_field}}</div>
                <div class="col-4">{{form.sector |as_crispy_field}}</div>
            </div>
            <div class="row">
                <div class="col-4">{{form.company|as_crispy_field}}</div>
                <!--div class="col-4">{{form.creatn_dt | as_crispy_field}}</div-->
                <div class="col-4">
                    <div class="input-group-prepend">
                        {{form.creatn_dt| as_crispy_field}}
                        <i class="far fa-calendar-alt fa-fw fa-2x text-info"></i>
                    </div>
                </div>
                <div class="col-4">{{form.country | as_crispy_field}}</div>
            </div>
            <div class="row">
                <div class="col-4">{{form.legl_form | as_crispy_field}}</div>
                <div class="col-4">{{form.rccm_nbr | as_crispy_field}}</div>
                <div class="col-3 float-left">
                    <label class="form-check-label float-left ml-2"> Societe sous control public</label></div>
                <div class="col-1">{{form.flag_pub_ctrl| as_crispy_field}}</div>
            </div>

            <!-- activite -->
            <div class="row">
                <div class="col-6"><input class="form-control" type="text" placeholder="Activite" readonly></div>
                <div class="col-6"><input class="form-control" type="text" placeholder="Actionnariat" readonly></div>
            </div>
            <div class="row">
                <div class="col-6"><!--activity-->
                    <div class="">{{form.actvty_sctr|as_crispy_field}}</div>
                    <div class="">{{form.actvty_code|as_crispy_field}}</div>
                    <div class="">{{form.intrnl_actvty_code | as_crispy_field}}</div>
                    <div class="">{{form.othr_bus_sctr | as_crispy_field}}</div>
                </div>
                <!--Shareholder formset-->
                <div class="col-6">
                    {{formset.management_form}}
                    {% for form in formset %}
                    {{form.id}}
                    <div class="row form-row">
                        <div class="col-4">{{form.shrhldr_name|as_crispy_field}}</div>
                        <div class="col-4">{{form.shrhldr_type|as_crispy_field}}</div>
                        <div class="col-3">{{form.shrs_hld|as_crispy_field}}</div>
                        {% if formset.can_delete %}
                        <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

            </div>
            <!-- Address -->
            <div class="row">
                <div class="col-6"><input class="form-control" type="text" placeholder="Address" readonly></div>
                <div class="col-6"><input class="form-control" type="text" placeholder="Leaders" readonly></div>
            </div>

            <div class="row">
                <div class="col-6"><!--Address-->
                    <div class="">{{addr_form.addr|as_crispy_field}}</div>
                    <div class="">{{addr_form.phone_nbr|as_crispy_field}}</div>
                    <div class="">{{addr_form.fax_nbr | as_crispy_field}}</div>
                    <div class="">{{addr_form.email | as_crispy_field}}</div>
                    <div class="">{{addr_form.website | as_crispy_field}}</div>
                </div>

                <!--leaders-->
                <div class="col-6">
                    {{leaders_formset.management_form}}
                    {% for form in leaders_formset %}
                    {{form.id}}
                    <div class="row form-row">
                        <div class="col-3">{{form.lst_name|as_crispy_field}}</div>
                        <div class="col-3">{{form.func|as_crispy_field}}</div>
                        <div class="col-3">{{form.phone_nbr|as_crispy_field}}</div>
                        <div class="col-2">{{form.email|as_crispy_field}}</div>
                        {% if leaders_formset.can_delete %}
                        <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% comment %}
                {% endcomment %}
            </div>
            <!-- Parent Company/Subsidary -->
            <div class="row">
                <div class="col-6"><input class="form-control" type="text" placeholder="Parent Company" readonly></div>
                <div class="col-6"><input class="form-control" type="text" placeholder="Subsidaries" readonly></div>
            </div>
            <div class="row">
                <div class="col-6"><!--Parent Company-->
                    {{parent_company_formset.management_form}}
                    {% for form in parent_company_formset %}
                    {{form.id}}
                    <div class="row form-row_3">
                        <div class="col-4">{{form.legl_name|as_crispy_field}}</div>
                        <div class="col-4">{{form.comm_name|as_crispy_field}}</div>
                        <div class="col-3">{{form.cntry|as_crispy_field}}</div>
                        {% if parent_company_formset.can_delete %}
                        <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                        {% endif %}
                        <!--div class="btn btn-sm btn-success add-form-row_3" style="height:30px; border-radius:20%">+</div-->
                    </div>
                    {% endfor %}
                </div>
                <div class="col-6"><!--Subsidary Company-->
                    {{subsidary_formset.management_form}}
                    {% for form in subsidary_formset %}
                    {{form.id}}
                    <div class="row form-row_3">
                        <div class="col-4">{{form.company_name|as_crispy_field}}</div>
                        <div class="col-4">{{form.share_amt|as_crispy_field}}</div>
                        <div class="col-3">{{form.url|as_crispy_field}}</div>
                        {% if subsidary_formset.can_delete %}
                        <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                        {% endif %}
                        <!--div class="btn btn-sm btn-success add-form-row_3" style="height:30px; border-radius:20%">+</div-->
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="card-footer text-muted">
            <input class="btn btn-info" role="button" type="submit" value="{% trans 'Edit Company' %}">
        </div>
    </form>
</div>


<style>
    .my_header_gray
    {
     margin-bottom:1px;
	 border: 1px solid #dcdcdc;
	 background-color:#f8f9fa;
     font-weight: bold;
     font-size: 16px;
     text-align: left;
    }

    .my_div_border_gray
    {
	 margin-bottom:1px;
	 border: 1px solid #dcdcdc;
	 background-color:#f8f9fa;
     margin-bottom:2px;
     font-weight: bold;
   }

     .my_div_border_blk
    {
	 margin-bottom:1px;
	 border: 1px solid #dcdcdc;

     margin-bottom:2px;
     font-weight: bold;
   }

table td {
  position: relative;
}

table td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

.my_checkbox{
 width:20px;
 height:20px;
 vertical-align: right;
 padding:10px;
 margin-top:10px;


}

.my_dropdown{
 width:20px;
 height:20px;
 vertical-align: middle;
 padding: 0 !important;
  margin: 0 !important;
  border-collapse: collapse;
  margin-bottom:0 !important;
}

.asteriskField {
    display: none;
}

.move-left {
    width: auto;
    box-shadow: none;
  }

  form label
  {
   color: #435E66;
   font-size: 16px;
   align:right;
   margin-top:20px;
   margin-right:10px;
  }

</style>

<script>
 function company_check_box()
 {
  document.getElementById('div_id_flag_pub_ctrl').className = 'float-left';
 }
</script>
{% endblock %}



<!-- (2) Move this into static file once you fix collect static issues -->
<script>
    function updateElementIndex_2(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore_2(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row_2:not(:last)');
    conditionRow.find('.btn.add-form-row_2')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row_2').addClass('remove-form-row_2')
    .html('-');
    return false;
}
function deleteForm_2(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row_2').remove();
        var forms = $('.form-row_2');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex_2(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row_2', function(e){
    e.preventDefault();
    cloneMore_2('.form-row_2:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row_2', function(e){
    e.preventDefault();
    deleteForm_2('form', $(this));
    return false;
});
</script>

<script>
document.body.addEventListener('htmx:configRequest', (e) => {
    e.detail.headers['X-CSRFToken'] = '{{ csrf_token}}';
})

</script>
