{% extends 'jdamainapp/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

{% include "jdafinancialsapp/jdafinancialsapp_breadcrumbs.html" %}

<div class="card text-center Xmt-3">
    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="card-header">
            <h5 class="text-muted"><i class="fas fa-compass  my_info_txt"></i> {% trans 'Edit Country' %}</h5>
        </div>

        <div class="card-body">
            <!-- description -->
            <div>
                <div class="row">
                    <div class="col-12"><input class="form-control my_readonly_input" type="text" placeholder="Country Reference" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">{{form.country|as_crispy_field}}</div>
                </div>
            </div>
            <!-- country Ref data -->
            <div id="country_data">
                <div class="row">
                    <div class="col-1">{{form.crncy|as_crispy_field}}</div>
                    <div class="col-2">{{form.prsdnt_name |as_crispy_field}}</div>
                    <div class="col-2">{{form.area|as_crispy_field}}</div>
                    <div class="col-2">{{form.ofcl_lang|as_crispy_field}}</div>
                    <div class="col-2">{{form.continent|as_crispy_field}}</div>
                    <div class="col-2">{{form.capl_city |as_crispy_field}}</div>
                    <div class="col-1">{{form.ph_code|as_crispy_field}}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <ul id="tabs" class="nav nav-tabs">
                        <li class="nav-item"><a href="" data-target="#description" data-toggle="tab" class="nav-link text-info active">Description</a></li>
                        <li class="nav-item"><a href="" data-target="#econ_data_1" data-toggle="tab" class="nav-link text-info">Economic Data 1</a></li>
                        <li class="nav-item"><a href="" data-target="#econ_data_2" data-toggle="tab" class="nav-link text-info">Economic Data 2</a></li>
                    </ul>
                    <!-- tab content soci-economic data -->
                    <div id="tabsContent" class="tab-content">
                        <div id="description" class="tab-pane fade active show">
                            <div class="row">
                                <div class="col-12"><input class="form-control my_readonly_input" type="text" placeholder="Socio economic Data" readonly></div>
                            </div>
                            <div class="scroll_div">
                                {{economicData_formset.management_form}}
                                {% for form in economicData_formset %}
                                {{form.id}}
                                <div class="row form-row">
                                    <div class="col">{{form.yr|as_crispy_field}}</div>
                                    <div class="col">{{form.popltn|as_crispy_field}}</div>
                                    <div class="col">{{form.popltn_grth_rate|as_crispy_field}}</div>
                                    <div class="col">{{form.actv_popltn|as_crispy_field}}</div>
                                    <div class="col">{{form.lf_exprn|as_crispy_field}}</div>
                                    <div class="col">{{form.unemplmt_rate|as_crispy_field}}</div>
                                    <div class="col">{{form.poverty_rate|as_crispy_field}}</div>
                                    <div class="col">{{form.rnkg_bus|as_crispy_field}}</div>
                                    <div class="col">{{form.hsehold_cnsmptn|as_crispy_field}}</div>
                                    <div class="col">{{form.idh|as_crispy_field}}</div>
                                    {% if economicData_formset.can_delete %}
                                    <div class=""> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <br>
                            <!-- tab content election/Economic Zones -->
                            <div class="row">
                                <div class="col-6"><input class="form-control my_readonly_input" type="text" placeholder="Election Dealines" readonly></div>
                                <div class="col-6"><input class="form-control my_readonly_input" type="text" placeholder="Economic Zones" readonly></div>
                            </div>
                            <div class="row">
                                <!-- Elections -->
                                <div class="col-6">
                                    <div class="scroll_div">
                                        {{election_formset.management_form}}
                                        {% for form in election_formset %}
                                        {{form.id}}
                                        <div class="row form-row">
                                            <div class="col">{{form.elecn_dt|as_crispy_field}}</div>
                                            <div class="col">{{form.elecn_type|as_crispy_field}}</div>
                                            <div class="col">{{form.cmnts|as_crispy_field}}</div>
                                            {% if election_formset.can_delete %}
                                            <div class=""> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- Economic Zones -->
                                <div class="col-6">
                                    <div class="scroll_div">
                                        {{econ_zone_formset.management_form}}
                                        {% for form in econ_zone_formset %}
                                        {{form.id}}
                                        <div class="row form-row">
                                            <div class="col">{{form.econ_zone|as_crispy_field}}</div>
                                            {% if econ_zone_formset.can_delete %}
                                                <div class=""> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- GDP and Investments -->
                        <div id="econ_data_1" class="tab-pane fade">
                            <div class="row">
                                <div class="col-12"><input class="form-control my_readonly_input" type="text" placeholder="GDP and Investments" readonly></div>
                            </div>
                            <div class="scroll_div_2">
                                <div class="row form-row">
                                    <div class="col-1">&nbsp;</div>
                                    <div class="col-6"><input class="form-control my_readonly_input_sub" type="text" placeholder="Gross Domestic Products" readonly></div>
                                    <div class="col-4">&nbsp;</div>
                                </div>
                                {{economicData_formset.management_form}}
                                {% for form in economicData_formset %}
                                {{form.id}}
                                <div class="row form-row">
                                    <div class="col-1">{{form.yr_gdp|as_crispy_field}}</div>
                                    <div class="col-1">{{form.gdp_amt|as_crispy_field}}</div>
                                    <div class="col-1">{{form.gdp_rate|as_crispy_field}}</div>
                                    <div class="col">{{form.gdp_prim_sctr|as_crispy_field}}</div>
                                    <div class="col">{{form.gdp_secy_sctr|as_crispy_field}}</div>
                                    <div class="col">{{form.gdp_tertry_sctr|as_crispy_field}}</div>
                                    <div class="col">{{form.gr_ntnl_prodt|as_crispy_field}}</div>
                                    <div class="col">{{form.mrgnl_lndg_rate|as_crispy_field}}</div>
                                    <div class="col">{{form.fixd_capl_invstmt|as_crispy_field}}</div>
                                    <div class="col-1">{{form.ide|as_crispy_field}}</div>
                                    {% if economicData_formset.can_delete %}
                                    <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <!-- tab Debt and Trade Balance /Other indicators -->
                            <div class="row">
                                <div class="col-8"><input class="form-control my_readonly_input" type="text" placeholder="Debt and Trade Balance" readonly></div>
                                <div class="col-4"><input class="form-control my_readonly_input" type="text" placeholder="Other indicators" readonly></div>
                            </div>
                            <div class="row">
                                <!-- Debt and Trade Balance -->
                                <div class="col-8">
                                    <div class="scroll_div_3">
                                        <div class="row form-row">
                                            <div class="col-2"></div>
                                            <div class="col-2"></div>
                                            <div class="col"><input class="form-control my_readonly_input_sub" type="text" placeholder="Debt" readonly></div>
                                            <div class="col"><input class="form-control my_readonly_input_sub" type="text" placeholder="Trade Balance" readonly></div>
                                        </div>
                                        {{economicData_formset.management_form}}
                                        {% for form in economicData_formset %}
                                        {{form.id}}
                                        <div class="row form-row">
                                            <div class="col-2">{{form.yr_dbt|as_crispy_field}}</div>
                                            <div class="col-2">{{form.infltn_rate|as_crispy_field}}</div>
                                            <div class="col">{{form.pub_dbt|as_crispy_field}}</div>
                                            <div class="col">{{form.forgn_dbt|as_crispy_field}}</div>
                                            <div class="col">{{form.dmstc_dbt|as_crispy_field}}</div>
                                            <div class="col">{{form.trd_bal|as_crispy_field}}</div>
                                            <div class="col">{{form.exp_amt|as_crispy_field}}</div>
                                            <div class="col">{{form.imp_amt|as_crispy_field}}</div>
                                            {% if economicData_formset.can_delete %}
                                            <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- Other indicators -->
                                <div class="col-4">
                                    <div class="scroll_div">
                                        {{other_indicators_formset.management_form}}
                                        {% for form in other_indicators_formset %}
                                        {{form.id}}
                                        <div class="row form-row">
                                            <div class="col">{{form.yr|as_crispy_field}}</div>
                                            <div class="col">{{form.ind_name|as_crispy_field}}</div>
                                            <div class="col">{{form.ind_val|as_crispy_field}}</div>
                                            <div class="col">{{form.cmnts|as_crispy_field}}</div>
                                            {% if other_indicators_formset.can_delete %}
                                            <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="econ_data_2" class="tab-pane fade">
                            <div class="row">
                                <div class="col-12"><input class="form-control my_readonly_input" type="text" placeholder="Trading Partners" readonly></div>
                            </div>
                            <!-- Exports / Imports -->
                            <div class="row">
                                <div class="col-1">&nbsp;</div>
                                <div class="col-5"><input class="form-control my_readonly_input_sub" type="text" placeholder="Exports" readonly></div>
                                <div class="col-6"><input class="form-control my_readonly_input_sub" type="text" placeholder="Imports" readonly></div>
                            </div>
                            <!-- Trading Partners -->
                            <div class="row">
                                <!-- Exports -->
                                <div class="col-6">
                                    <div class="scroll_div">
                                        {{trade_partners_formset.management_form}}
                                        {% for form in trade_partners_formset %}
                                        {{form.id}}
                                        <div class="row Xform-row">
                                            <div class="col-2 ml-1">{{form.yr|as_crispy_field}}</div>
                                            <div class="col">{{form.exp_cntry|as_crispy_field}}</div>
                                            <div class="col">{{form.exp_amt|as_crispy_field}}</div>
                                            <div class="col">{{form.exp_rate|as_crispy_field}}</div>
                                            {% if trade_partners_formset.can_delete %}
                                            <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- Imports -->
                                <div class="col-6">
                                    <div class="scroll_div">
                                        {{trade_partners_formset.management_form}}
                                        {% for form in trade_partners_formset %}
                                        {{form.id}}
                                        <div class="row Xform-row">
                                            <div class="col">{{form.imp_cntry|as_crispy_field}}</div>
                                            <div class="col">{{form.imp_amt|as_crispy_field}}</div>
                                            <div class="col">{{form.imp_rate|as_crispy_field}}</div>
                                            {% if trade_partners_formset.can_delete %}
                                            <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Import Export Products -->
                        <div class="row">
                            <div class="col-12"><input class="form-control my_readonly_input" type="text" placeholder="Import Export Products" readonly></div>
                        </div>
                        <!-- Exports / Imports -->
                        <div class="row">
                            <div class="col-1">&nbsp;</div>
                            <div class="col-5"><input class="form-control my_readonly_input_sub" type="text" placeholder="Principal Products Exported" readonly></div>
                            <div class="col-6"><input class="form-control my_readonly_input_sub" type="text" placeholder="Principal Products Imported" readonly></div>
                        </div>

                        <div class="row">
                            <!-- Import Export Products -->
                            <div class="col-6">
                                <!-- Exports -->
                                <div class="scroll_div">
                                    {{trade_partners_formset.management_form}}
                                    {% for form in trade_partners_formset %}
                                    {{form.id}}
                                    <div class="row Xform-row">
                                        <div class="col-2 ml-1">{{form.yr|as_crispy_field}}</div>
                                        <div class="col">{{form.exp_prodt_name|as_crispy_field}}</div>
                                        <div class="col">{{form.exp_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.exp_rate|as_crispy_field}}</div>
                                        {% if trade_partners_formset.can_delete %}
                                        <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Imports -->
                            <div class="col-6">
                                <div class="scroll_div">
                                    {{trade_partners_formset.management_form}}
                                    {% for form in trade_partners_formset %}
                                    {{form.id}}
                                    <div class="row Xform-row">
                                        <div class="col">{{form.imp_prodt_name|as_crispy_field}}</div>
                                        <div class="col">{{form.imp_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.imp_rate|as_crispy_field}}</div>
                                        {% if trade_partners_formset.can_delete %}
                                        <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- Energy -->
                        <div class="row">
                            <div class="col-12"><input class="form-control my_readonly_input" type="text" placeholder="Energy" readonly></div>
                        </div>
                        <!-- Electric Production/Crud Oil/Refinery/Natural Gas -->
                        <div class="row">
                            <div class="col-1"><input class="form-control my_readonly_input_sub" type="text" placeholder="Year" readonly></div>
                            <div class="col"><input class="form-control my_readonly_input_sub" type="text" placeholder="Electricity Production" readonly></div>
                            <div class="col"><input class="form-control my_readonly_input_sub" type="text" placeholder="Crud Oil" readonly></div>
                            <div class="col"><input class="form-control my_readonly_input_sub" type="text" placeholder="Refinery" readonly></div>
                            <div class="col"><input class="form-control my_readonly_input_sub" type="text" placeholder="Natural Gas" readonly></div>
                        </div>

                        <div class="row">
                            <!-- Year -->
                            <div class="col-1">
                                <div class="scroll_div">
                                    {{energy_formset.management_form}}
                                    {% for form in energy_formset %}
                                    {{form.id}}
                                    <div class="row Xform-row">
                                        <div class="col">{{form.energy_yr|as_crispy_field}}</div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Electricity Production -->
                            <div class="col">
                                <div class="scroll_div">
                                    {{energy_formset.management_form}}
                                    {% for form in energy_formset %}
                                    {{form.id}}
                                    <div class="row Xform-row">
                                        <div class="col">{{form.elec_hydro_dam_nbr|as_crispy_field}}</div>
                                        <div class="col">{{form.elec_pwr_sttn_nbr|as_crispy_field}}</div>
                                        <div class="col">{{form.elec_otr_nbr|as_crispy_field}}</div>
                                        {% if energy_formset.can_delete %}
                                        <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Grud Oil -->
                            <div class="col">
                                <div class="scroll_div">
                                    {{energy_formset.management_form}}
                                    {% for form in energy_formset %}
                                    {{form.id}}
                                    <div class="row Xform-row">
                                        <div class="col">{{form.crude_prodtn_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.crude_exp_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.crude_imp_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.crude_rsrvs_amt|as_crispy_field}}</div>
                                        {% if energy_formset.can_delete %}
                                        <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Refinery -->
                            <div class="col">
                                <div class="scroll_div">
                                    {{energy_formset.management_form}}
                                    {% for form in energy_formset %}
                                    {{form.id}}
                                    <div class="row Xform-row">
                                        <div class="col">{{form.refined_prodtn_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.refined_cnsmptn_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.refined_exp_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.refined_imp_amt|as_crispy_field}}</div>
                                        {% if energy_formset.can_delete %}
                                        <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Natural Gas -->
                            <div class="col">
                                <div class="scroll_div">
                                    {{energy_formset.management_form}}
                                    {% for form in energy_formset %}
                                    {{form.id}}
                                    <div class="row Xform-row">
                                        <div class="col">{{form.gas_prodtn_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.gas_exp_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.gas_imp_amt|as_crispy_field}}</div>
                                        <div class="col">{{form.gas_rsrv_amt|as_crispy_field}}</div>
                                        {% if energy_formset.can_delete %}
                                        <div> {{form.DELETE}}<i class="fas fa-times text-danger ml-1" ></i></div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




<div class="card-footer text-muted">
    <input class="btn btn-info" role="button" type="submit" value="{% trans 'Edit Country' %}">
</div>
</div>
</form>
</div>



<style>
.my_header_gray
{
margin-bottom:1px;
border: 1px solid #dcdcdc;
background-color:#f8f9fa;
font-weight: bold;
font-size: 16px;
text-align: left;
}

.my_div_border_gray
{
margin-bottom:1px;
border: 1px solid #dcdcdc;
background-color:#f8f9fa;
margin-bottom:2px;
font-weight: bold;
}

.my_div_border_blk
{
margin-bottom:1px;
border: 1px solid #dcdcdc;

margin-bottom:2px;
font-weight: bold;
}

table td {
position: relative;
}

table td input {
position: absolute;
display: block;
top:0;
left:0;
margin: 0;
height: 100%;
width: 100%;
border: none;
padding: 10px;
box-sizing: border-box;
}

.my_checkbox{
width:20px;
height:20px;
vertical-align: right;
padding:10px;
margin-top:10px;


}

.my_dropdown{
width:20px;
height:20px;
vertical-align: middle;
padding: 0 !important;
margin: 0 !important;
border-collapse: collapse;
margin-bottom:0 !important;
}

.asteriskField {
display: none;
}

.move-left {
width: auto;
box-shadow: none;
}

form label
{
color: #435E66;
font-size: 16px;
align:right;
margin-top:20px;
margin-right:10px;
}
.tab-pane {
padding:1px;

}

.tab-bg
{
background-color: #e9ecef;
}

.scroll_div {
  height:140px;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll_div_2 {
  height:160px;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll_div_3 {
  height:155px;
  overflow-x: hidden;
  overflow-y: auto;
}
.my_readonly_input {
  height: 28px;
}
.my_readonly_input_sub {
  height: 20px;
  background-color:#f8f9fa;
  font-size: 12px;
}
</style>

<script>
function company_check_box()
{
document.getElementById('div_id_flag_pub_ctrl').className = 'float-left';
}

</script>


{% endblock %}



