{% extends 'jdamainapp/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb my_breadcrumb_bg">
        <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_home' %}" class="text-light {{bread_home}}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_security_listing' %}" class="text-light {{bread_stmts}}">{% trans 'Security Listing' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_add_stock_security' %}" class="text-light {{bread_stmts}}">{% trans 'Add Stock' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_add_bond_security' %}" class="text-light {{bread_stmts}}">{% trans 'Add Bond' %}</a></li>
    </ol>
</nav>
<div class="card text-center mt-1">
    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="card-header mb-0">
            <h5 class="text-muted"><i class="fas fa-compass  my_info_txt"></i> {% blocktrans %} Edit {{header_title}} Security  {% endblocktrans %}</h5>
        </div>

        <div class="card-body">

            <!-- Security info -->
            <!-- Security info -->
            <div class="row">
                <div class="col-12"><input class="form-control" type="text" placeholder="Security Info" readonly></div>
            </div>

            <div class="row mt-1">

                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.isin|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.ticker|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.desc |as_crispy_field}}</div>

                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <div class="input-group justify-content-right">
                        <div class="input-group-prepend">
                            {{security_form.isu_dt| as_crispy_field}}
                            <i class="far fa-calendar-alt fa-fw fa-2x text-info"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <div class="input-group justify-content-right">
                        <div class="input-group-prepend">
                            {{security_form.open_dt| as_crispy_field}}
                            <i class="far fa-calendar-alt fa-fw fa-2x text-info"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <div class="input-group justify-content-right">
                        <div class="input-group-prepend">
                            {{security_form.close_dt| as_crispy_field}}
                            <i class="far fa-calendar-alt fa-fw fa-2x text-info"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.name |as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.listg_sts |as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.nmnl_amt|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.cntry|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.currency|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.min_lot|as_crispy_field}}</div>

            </div>

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.ttl_type|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.shr_class|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.isur_type|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.sector|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.issuer|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.rgstrr|as_crispy_field}}</div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.exchg|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.depsty|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.cntry_tax|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.invstr_cntry_tax|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <span class="float-left form-control-sm mt-1 text-secondary mr-3">Taxation Code</span>
                    <span class="float-left">{{security_form.txtn_code| as_crispy_field}}</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.exchg_tax|as_crispy_field}}</div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <span class="float-left form-control-sm mt-1 text-secondary mr-3">Value Code</span>
                    <span class="float-left">{{security_form.val_code| as_crispy_field}}</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.lwst_appl_rate|as_crispy_field}}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{security_form.hghst_appl_rate|as_crispy_field}}</div>
            </div>
            <div class="row">
                <div class="col-12 mb-1"><input class="form-control" type="text" placeholder="Bond Info" readonly></div>
            </div>
            <!-- Bond fields -->
            <div class="collapse show" id="bond">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.gr_bnd_int_rate|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.net_bnd_int_rate|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.nbr_shrs_outstg|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.bnd_type|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.duratn_amt|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.duratn_units|as_crispy_field}}</div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.pymt_perd|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.pymt_perd_units|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.dfrrd_rpymt_perd|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.dfrrd_rpymt_perd_units|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.rpymt_mthd|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.rpymt_type|as_crispy_field}}</div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <div class="input-group justify-content-right">
                            <div class="input-group-prepend">
                                {{bond_form.bnd_isu_dt| as_crispy_field}}
                                <i class="far fa-calendar-alt fa-fw fa-2x text-info"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <div class="input-group justify-content-right">
                            <div class="input-group-prepend">
                                {{bond_form.first_pay_dt| as_crispy_field}}
                                <i class="far fa-calendar-alt fa-fw fa-2x text-info"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <div class="input-group justify-content-right">
                            <div class="input-group-prepend">
                                {{bond_form.lst_pay_dt| as_crispy_field}}
                                <i class="far fa-calendar-alt fa-fw fa-2x text-info"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">{{bond_form.usage|as_crispy_field}}</div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <span class="float-left form-control-sm mt-1 text-secondary mr-3">Authorized</span>
                        <span class="float-left">{{bond_form.auth| as_crispy_field}}</span>

                    </div>
                </div>
                <!-- Guarantor formset -->
                {{ formset.management_form }}
                {% for form in formset %}
                {{form.id}}
                <div class="row form-row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">{{form.guarantor|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">{{form.guarantor_pctg|as_crispy_field}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">{{form.guarantor_val|as_crispy_field}}</div>
                    <div class="btn btn-sm btn-success add-form-row" style="height:30px; border-radius:20%">+</div>
                    {% if formset.can_delete %}
                    <div><i class="fas fa-times text-danger ml-2" ></i> {{form.DELETE}} </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer text-muted">
            <input class="btn btn-md btn-info" role="button" type="submit" value="{% trans 'Edit Security' %}">
        </div>
    </form>
</div>


<style>
    .my_header_gray
    {
     margin-bottom:1px;
	 border: 1px solid #dcdcdc;
	 background-color:#f8f9fa;
     font-weight: bold;
     font-size: 16px;
     text-align: left;
    }

    .my_div_border_gray
    {
	 margin-bottom:1px;
	 border: 1px solid #dcdcdc;
	 background-color:#f8f9fa;
     margin-bottom:2px;
     font-weight: bold;
   }

     .my_div_border_blk
    {
	 margin-bottom:1px;
	 border: 1px solid #dcdcdc;

     margin-bottom:2px;
     font-weight: bold;
   }

table td {
  position: relative;
}

table td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

.my_checkbox{
 width:20px;
 height:20px;
 vertical-align: right;
 padding:10px;
 margin-top:10px;


}

.my_dropdown{
 width:20px;
 height:20px;
 vertical-align: middle;
 padding: 0 !important;
  margin: 0 !important;
  border-collapse: collapse;
  margin-bottom:0 !important;
}

.asteriskField {
    display: none;
}

.move-left {
    width: auto;
    box-shadow: none;
  }

  form label
  {
   color: #435E66;
   font-size: 16px;
   align:right;
   margin-top:20px;
   margin-right:10px;
  }

  .input_width
  {
   min-width: 232px;
   background-color:red;
  }






</style>

<script>
 function company_check_box()
 {
  document.getElementById('div_id_flag_pub_ctrl').className = 'float-left';
 }





</script>


{% endblock %}



