{% load i18n %}
<!DOCTYPE html>
<html>
<body>
<p>{% blocktrans with first_name=user.first_name %}Hello {{ first_name }},{% endblocktrans %}</p>
<p>{% trans "Thank you for registering on JDA Platform." %}</p>
<p>{% trans "Please click the link below to verify your email and activate your account:" %}</p>
<p><a href="{{ verification_url }}">{% trans "Activate My Account" %}</a></p>
<p>{% trans "This link will expire in 48 hours." %}</p>
<p>{% trans "If you did not create this account, please ignore this email." %}</p>
<p>{% trans "Best regards," %}<br>{% trans "JDA Team" %}</p>
</body>
</html>
