<div id="transactionFees_form" class="col-2 bg-light border-end" style="min-height: 100vh;">
<table class="table table-sm table-responsive-sm table-striped table-bordered dt-responsive">
  <thead>
  <tr>
    <th colspan="2"><small>Transaction Fees</small></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="text-left">Commission SGI</td>
    <td class="text-secondary">{{instance.commission_sgi}}</td>
  </tr>
  <tr>
    <td class="text-left">TPS</td>
    <td>{{instance.tps}}</td>
  </tr>
  <tr>
    <td class="text-left">Country SGI</td>
    <td>{{instance.country_sgi}}</td>
  </tr>
  <tr>
    <td class="text-left">Commission BRVM</td>
    <td>{{instance.commission_brvm}}</td>
  </tr>
  <tr>
    <td class="text-left">Commission DC/BR</td>
    <td>{{instance.commission_dc_br}}</td>
  </tr>
  <tr>
    <td class="text-left">Total Commission</td>
    <td>{{instance.total_commission}}</td>
  </tr>
  </tbody>
</table>
</div>
{% comment %}
<!--div id="transactionFees_form" class="col-2 bg-light border-end" style="min-height: 100vh;">
  <div class="card p-4 shadow-sm mx-auto text-start" style="max-width: 500px;">
    <div class="mb-2">Commission SGI: <strong>{{ instance.commission_sgi }}</strong></div>
    <div class="mb-2">TPS: <strong>{{ instance.tps }}</strong></div>
    <div class="mb-2">Country SGI: <strong>{{ instance.country_sgi }}</strong> </div>
    <div class="mb-2">Commission BRVM: <strong>{{ instance.commission_brvm }}</strong></div>
    <div class="mb-2">Commission DC BR: <strong>{{ instance.commission_dc_br }}</strong></div>
    <div class="mb-2">Total Commission: <strong>{{ instance.total_commission }}</strong></div>
  </div>
</div-->
{% endcomment %}



